### The questions for the exercises are given above the cells and the expected output is given below the cell. Please type the code inserting a new cell below the question because if you run the expected output cell the output would vanish! Happy learning!

## Exercise Question 1: Given a list1 copy the list1 to another list2 and remove the element at index 6 and add it to the 2nd position and also, at the end of the list2, finally remove the last element from list 1

In [8]:
# Original list 
A = [34, 54, 67, 89, 11, 43, 94]
A
# List After removing element at index 4  - [34, 54, 67, 89, 43, 94]
A.pop(4) 
A
# List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
A.insert(2,11)
A
# List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]
A.append(11)
A
# Removing last element from the original list  [34, 54, 67, 89, 11, 43]
A = A[:-1]
A

[34, 54, 11, 67, 89, 43, 94]

In [11]:
A = [34, 54, 67, 89, 11, 43, 94]
A

[34, 54, 67, 89, 11, 43, 94]

In [12]:
A.pop(4)
A

[34, 54, 67, 89, 43, 94]

In [13]:
A.insert(2,11)
A

[34, 54, 11, 67, 89, 43, 94]

In [14]:
A.append(11)
A

[34, 54, 11, 67, 89, 43, 94, 11]

In [ ]:
Original list  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]
Removing last element from the original list  [34, 54, 67, 89, 11, 43]

In [15]:
A = A[:-1]
A

[34, 54, 11, 67, 89, 43, 94]

## Exercise Question 2: Given a two list of equal size create a list of unique elements from both the lists into a seperate list

In [35]:
lst1 =  [2, 3, 4, 5, 6, 7, 8]
lst2  =  [4, 9, 16, 25, 36, 49, 64]
set1= list(set(lst1+lst2))
set1

[64, 2, 3, 4, 5, 6, 7, 8, 9, 36, 16, 49, 25]

In [ ]:
First List  [2, 3, 4, 5, 6, 7, 8]
Second List  [4, 9, 16, 25, 36, 49, 64]
[64, 2, 3, 4, 5, 6, 7, 8, 9, 36, 16, 49, 25]

## Exercise Question 3: Remove duplicate from a list and create a tuple and find the minimum and maximum number (Hint: Try Functions Min() and Max() )

In [39]:
lst3 = [87, 52, 44, 53, 54, 87, 52, 53]
lst4 = tuple(set(lst3))
print(lst4)
type(lst4)
print("unique list is : " , lst4)
print("Minimun number is :" ,min(lst4))
print("Maximun number is :",  max(lst4))

(44, 52, 53, 54, 87)
unique list is :  (44, 52, 53, 54, 87)
Minimun number is : 44
Maximun number is : 87

In [ ]:
Original list [87, 52, 44, 53, 54, 87, 52, 53]
unique list [44, 52, 53, 54, 87]
tuple  (44, 52, 53, 54, 87)
Minimum number is:  44
Maximum number is:  87

## Exercise Question 4: Display the each word in the string Count the number of words in a string and display it (Including the white spaces)

In [19]:
#Printing each words seperately 
a = "what's up?"
print(*a)

w h a t ' s   u p ?

The sample string: Welcome to Python
Printing each words seperately:  W e l c o m e   t o   P y t h o n
The Length of the string 17

In [40]:
b = "Welcome to Python"
print(*b)

W e l c o m e   t o   P y t h o n

In [31]:
c=tuple(b)
c
len(c)

17

In [32]:
c

('W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'P',
 'y',
 't',
 'h',
 'o',
 'n')

In [22]:
#Printing each words seperately 
a = "what's up?"
print(*a)

w h a t ' s   u p ?

In [23]:
set_1 = set(a)
set_1

{' ', "'", '?', 'a', 'h', 'p', 's', 't', 'u', 'w'}

In [24]:
len(set_1)

10

##  Exercise Question 5: Write a Python program to access dictionary keys element by index. i.e. Use indexing methods to print the first key

In [27]:
dict = {'physics': 80, 'math': 90, 'chemistry': 86}

The dictionary is:  {'physics': 80, 'math': 90, 'chemistry': 86}
The key element accesed by index:  physics

In [2]:
dict = {'physics': 80, 'math': 90, 'chemistry': 86}

In [42]:
lst2 = list(dict)
lst2

['physics', 'math', 'chemistry']

In [3]:
dict['physics']

80