### The questions for the exercises are given above the cells and the expected output is given below the cell. Please type the code inserting a new cell below the question because if you run the expected output cell the output would vanish! Happy learning!

## Exercise Question 1: Given an input list removes the element at index 4 and add it to the 2nd position and also, at the end of the list

1.a Original list  [34, 54, 67, 89, 11, 43, 94]

List After removing element at index 4 [34, 54, 67, 89, 43, 94]
List after Adding element at index 2 [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last [34, 54, 11, 67, 89, 43, 94, 11]

In [36]:
A = [34, 54, 67, 89, 11, 43, 94]
A.insert(2,A.pop(4))
print(A)
A.append(11)
A

[34, 54, 11, 67, 89, 43, 94]
[34, 54, 11, 67, 89, 43, 94, 11]

## Exercise Question 2: Given a Python list you should be able to display Python list in the following order

The Original List is: [100, 200, 300, 400, 500]
The Expected result is:  [500, 400, 300, 200, 100]

In [19]:
B = [100, 200, 300, 400, 500]
B.sort(reverse = True)

In [20]:
B

[500, 400, 300, 200, 100]

## Exercise Question 3: Concatenate (join) two lists in the following order

The original list1: ['Hello ', 'take ']
The original list2: ['Dear', 'Sir']
The Expected result is: ['Hello ', 'take ', 'Dear', 'Sir']

In [21]:
list1 = ['Hello ', 'take ']
list2 =  ['Dear', 'Sir'] 
list = list1 + list2

In [22]:
list

['Hello ', 'take ', 'Dear', 'Sir']

## Exercise Question 4: Add item 7000 after 6000 in the following Python List

The original list is: [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
The expected list is: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [24]:
C =  [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [25]:
C[2] = [300, 400, [5000, 6000, 7000], 500]

In [26]:
C

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

## Exercise Question 5: Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the

The original List is: ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
The expected result is: ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [27]:
N = ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']

In [37]:
N[2][1][2]= ['f', 'g', 'h', 'i', 'j']
N

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

## Exercise Question 6: Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value

In [39]:
M = [5, 10, 15, 20, 25, 50, 20]

M

[5, 10, 15, 20, 25, 50, 20]

In [40]:
M.index(20)

3

In [41]:
M = [5, 10, 15, 20, 25, 50, 20]
M[M.index(20)] = 200
M

[5, 10, 15, 200, 25, 50, 20]