## Exercise 1: Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [ ]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

In [2]:
import numpy as np
import pandas as pd
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam_score = pd.DataFrame(exam_data, index= labels)
exam_score

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## Exercise 2: Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.
##### Use Data from previous problem

In [3]:
print("Number of attempts in the examination is less than 2 and score greater than 15 :")
print(exam_score[(exam_score['attempts'] < 2) & (exam_score['score'] > 15)])

Number of attempts in the examination is less than 2 and score greater than 15 :
    name  score  attempts qualify
j  Jonas   19.0         1     yes

## Exerise 3: Change the value in row 'd' to 11.5 
##### Use Data from previous questions

In [4]:
print("Original data frame: \n", exam_score)
exam_score.loc['d', 'score'] = 11.5
print("Change the score in row 'd' to 11.5: \n", exam_score)

Original data frame:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Change the score in row 'd' to 11.5:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## Exercise 4: Write a Pandas program to calculate the sum of the examination attempts by the students. (Question continuation of data from question 2)
##### Use Data from previous questions

In [5]:
print("Sum of the examination attempts by the students:", exam_score['attempts'].sum())

Sum of the examination attempts by the students: 19

## Exercise 5: Drop a list of rows from a specified DataFrame
###### data: 
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}

In [6]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(d)
print("Original DataFrame \n", df)
df = df.drop(df.index[[2,4]])
print("New DataFrame after removing 2nd & 4th rows: \n", df)

Original DataFrame
    col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
New DataFrame after removing 2nd & 4th rows:
    col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

## Exercise 6: Write a function that checks whether a given column is present in a DataFrame or not
###### data: 
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

Check if col4 and col1 is present

In [7]:
df = pd.DataFrame({'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]})
print("Original DataFrame \n", df)
if 'col4' in df:
    print("Col4 is present in DataFrame")
else:
    print("Col4 is not present in DataFrame")
    
if 'col1' in df:
    print("Col1 is present in DataFrame")
else:
    print("Col1 is not present in DataFrame")

Original DataFrame
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
Col4 is not present in DataFrame
Col1 is present in DataFrame

## Exercise 7: Write a function that returns the column index number from column name of a given DataFrame

###### data: 
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

##### HINT: Try using a function called get_loc():
Syntax: 
dataframe.columns.get_loc()

In [9]:
df = pd.DataFrame({'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]})
print("Original DataFrame \n", df)
print("Index of 'col2' \n", df.columns.get_loc('col2'))

Original DataFrame
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
Index of 'col2'
 1

## Exercise 8: Write a Pandas program to select all columns, except one given column in a DataFrame.
###### Use same data as previous problem

In [12]:
print("Original DataFrame \n", df)
print("All columns except 'col3':\n", df.loc[:, df.columns != 'col3'])

Original DataFrame
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
All columns except 'col3':
    col1  col2
0     1     4
1     2     5
2     3     6
3     4     9
4     7     5

## Exercise 9:  Write a Pandas program to remove last n rows of a given DataFrame.

In [14]:
df = pd.DataFrame({'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]})
print("Original DataFrame \n", df)
df.drop(df.tail(3).index,inplace=True)
print("After removing last 3 rows of the said DataFrame: \n", df)

Original DataFrame
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
After removing last 3 rows of the said DataFrame:
    col1  col2  col3
0     1     4     7
1     2     5     8

## Exercise 10: Display the movies longer than 30 minutes and shorter than 360 minutes
use IMDB-Movie-Data.csv

In [15]:
df = pd.read_csv(r"IMDB-Movie-Data.csv")
df1 = df[(df['Runtime (Minutes)'] >= 30) & (df['Runtime (Minutes)'] <= 360)]
print("List of movies longer than 30 minutes and shorter than 360 minutes: \n" ,df1[['Title', 'Runtime (Minutes)']])

List of movies longer than 30 minutes and shorter than 360 minutes:
                        Title  Runtime (Minutes)
0    Guardians of the Galaxy                121
1                 Prometheus                124
2                      Split                117
3                       Sing                108
4              Suicide Squad                123
..                       ...                ...
995     Secret in Their Eyes                111
996          Hostel: Part II                 94
997   Step Up 2: The Streets                 98
998             Search Party                 93
999               Nine Lives                 87

[1000 rows x 2 columns]